@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .bg-theme-gradient {
    background: linear-gradient(
      90deg,
      rgba(79, 57, 246, 1) 0%,
      rgba(139, 0, 245, 1) 100%
    ) !important;
    background-color: transparent !important;
  }

  .bg-theme-gradient-10 {
    background: linear-gradient(
      90deg,
      rgba(79, 57, 246, 0.9) 0%,
      rgba(139, 0, 245, 0.1) 100%
    ) !important;
    background-color: transparent !important;
  }
}
